html,
body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url('beach.jpg');
  background-repeat: no-repeat;
}

.container {
  height: 100%;
  position: relative;
  background-color: #fff;
}

input {
  font-size: 14px;
}

h1 {
  color: #525454;
  font-size: 22px;
  margin: 0 0 10px 0;
  text-align: center;
}

hr {
  background: blue;
  height: 1px;
  margin: 20px 0 20px 0;
  border: none;
}

#map {
  bottom:0px;
  width: 450px;
  height: 100%;
  left: 210px;
  width: 100%;
  position: absolute;
  right: 0px;
}

#list{
  list-style-type: none;
}

.options-box {
  background-image: url('ocean.jpg');
  border: 1px solid #999;
  border-radius: 3px;
  height: 100%;
  padding: 10px 10px 30px 10px;
  text-align: left;
  max-width: 340px;
  width: 25%;
}

#pano {
  width: 200px;
  height: 200px;
}

#place {
  height: 45px;
  width: 100px;
  max-width: 100%;
  border-radius: 25px;
  text-align: center;
  padding: 5px;
  list-style-type: none;
  margin-right: 50px;
  box-shadow: 2px 3px;
}

.text {
  font-size: 12px;
}